.mainContainer {
  width: 700px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardIcon {
  font-size: 28px;
}

.cardTitle {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.cardValue {
  font-size: 36px;
  font-weight: bold;
  margin-top: 15px;
}
