.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  margin-top: 10px;
  gap: 20px;
}

/* dashboard */

.mainContainer {
  gap: 20px;
  display: flex;
  width: 90%;
  align-items: stretch;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex-grow: 1;
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardIcon {
  font-size: 28px;
}

.cardTitle {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.cardValue {
  font-size: 36px;
  font-weight: bold;
  margin-top: 15px;
}

.recentOrderAndLowItems {
  width: 90%;
  height: 60%;
  display: flex;
  gap: 5%;
}

.recentOrder {
  height: 100%;
  width: 47.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.recentOrder h1 {
  font-size: 1.5rem;
}

.lowItems {
  height: 100%;
  width: 47.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.lowItems h1 {
  font-size: 1.5rem;
}

.recentOrder button {
  background-color: green;
  border: none;
  border-radius: 10px;
  padding: 7px;
  transition: transform 0.5s ease;
}

.recentOrder button:hover {
   transform: scale(1.1);
   cursor: pointer;
}

.recentOrder button i {
  color: white;
  font-size: 13px;
}
