.sideMenu {
  width: 310px;
  height: calc(100vh - 58px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
}

.sideMenu ul {
  height: 400px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sideMenu ul li {
  width: 100%;
}

.sideMenu ul li a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: white;
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px 0;
  border-radius: 0 20px 20px 0;
  transition: all 0.3s ease;
}

.sideMenu ul li a:hover {
  transform: translateY(-5px);
}
