.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  margin-top: 10px;
  gap: 20px;
}

.content table {
  width: 100%;
  table-layout: fixed;
}

.content table th,
.content table td {
  padding: 8px;
  text-align: center;
}

.content table td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.content table thead {
  background-color: #799eff;
  color: white;
  position: sticky;
  top: 0;
}

.content table thead th {
  border-radius: 5px;
}

.content .heading {
  display: flex;
  width: 100%;
}

.content .heading h1 {
  display: block;
  text-align: center;
  flex: 1;
}

.content .heading button {
  border-radius: 10px;
  text-align: center;
  color: #799EFF;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: xx-large;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.content .heading button:active {
  scale: 0.9;
}

.content .heading button:hover {
  box-shadow: 0 0 0 3px #799EFF;
}